In [2]:
import numpy as np 
import pandas as pd
from numpy.random import randn

In [3]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
hier_index = list(zip(outside,inside))

In [5]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [6]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

# Multiindex is not important

In [8]:
df = pd.DataFrame(randn(6,2),index=hier_index)

In [9]:
df

             0         1
G1 1 -1.936462 -2.169037
   2 -0.678118  0.933144
   3 -2.005729  0.676874
G2 1 -0.942126 -2.406332
   2 -0.535270 -0.089866
   3  0.482902  0.428584

In [10]:
df.iloc[2:5,1]

G1  3    0.676874
G2  1   -2.406332
    2   -0.089866
Name: 1, dtype: float64

In [11]:
df.loc['G1'].iloc[[0,2],:]

          0         1
1 -1.936462 -2.169037
3 -2.005729  0.676874

In [12]:
df.index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [13]:
df.index.names = ['Class','Id']

In [14]:
df

                 0         1
Class Id
G1    1  -1.936462 -2.169037
      2  -0.678118  0.933144
      3  -2.005729  0.676874
G2    1  -0.942126 -2.406332
      2  -0.535270 -0.089866
      3   0.482902  0.428584

In [15]:
df

                 0         1
Class Id
G1    1  -1.936462 -2.169037
      2  -0.678118  0.933144
      3  -2.005729  0.676874
G2    1  -0.942126 -2.406332
      2  -0.535270 -0.089866
      3   0.482902  0.428584

In [16]:
df.xs(['G1',1])

C:\Users\awtqu\AppData\Local\Temp/ipykernel_5764/580597333.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df.xs(['G1',1])

0   -1.936462
1   -2.169037
Name: (G1, 1), dtype: float64

In [17]:
df.xs(level='Id')

TypeError: xs() missing 1 required positional argument: 'key'

In [ ]:
df

NameError: name 'df' is not defined

In [18]:
df

                 0         1
Class Id
G1    1  -1.936462 -2.169037
      2  -0.678118  0.933144
      3  -2.005729  0.676874
G2    1  -0.942126 -2.406332
      2  -0.535270 -0.089866
      3   0.482902  0.428584